<footer class="app-footer bg-body-secondary">    
    <strong>
        Copyright &copy; @DateTime.Now.Year&nbsp;
        <a href="~/" class="text-decoration-none">LDM Shop Admin</a>.
    </strong>
    All rights reserved.
</footer>